    #EstatusApro {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        position: relative;
        background-color: #de5a00;
        color: #ffffff;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 7px;
        outline: none !important
    }

    #EstatusRev {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        position: relative;
        background-color: dodgerblue;
        color: #ffffff;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 7px;
        outline: none !important
    }

    #EstatusPend {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        position: relative;
        background-color: dimgray;
        color: #ffffff;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 7px;
        outline: none !important
    }



    #EstatusInhouse {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        position: relative;
        background-color: darkseagreen;
        color: #ffffff;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 7px;
        outline: none !important
    }

.form-radio-tecnica {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #DFD7D7;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none !important
}

.form-radio-tecnica:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio-pnl {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #DFD7D7;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none !important
}

    .form-radio-pnl:checked::before {
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 11px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
    }
    .form-radio:checked::before {
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 11px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
    }

    .form-radio-pnl:hover {
        background-color: #DFD7D7;
    }

    .form-radio-tecnica:hover {
        background-color: #DFD7D7;
    }

    #EstatusApro:hover {
        background-color: #de5a00;
    }

    #EstatusApro:checked {
        background-color: #de5a00;
    }

    #EstatusRev:hover {
        background-color: dodgerblue;
    }

    #EstatusRev:checked {
        background-color: dodgerblue;
    }

    #EstatusPend:hover {
        background-color: dimgray;
    }

    #EstatusPend:checked {
        background-color: dimgray;
    }

    #EstatusInhouse:hover {
        background-color: darkseagreen;
    }

    #EstatusInhouse:checked {
        background-color: darkseagreen;
    }


   .form-radio-pnl:checked {
        background-color: #D2CECE;
    }

    .form-radio-tecnica:checked {
        background-color: #D2CECE;
    }

    label {
        font: 1.200em 'Open Sans', sans-serif;
        font-weight: bold;
        color: #1b1b1b;
        cursor: pointer;
    }

    #labelTecnica {
        font: 1.200em 'Open Sans', sans-serif;
        font-weight:500;
        color: #1b1b1b;
        cursor: pointer;
    }

    #labelTitulo {
        font: 1.000em 'Open Sans', sans-serif;
        font-weight: bold;
        color: #1b1b1b;
        cursor: pointer;
    }