@model FortuneSystem.Models.Catalogos.CatClienteFinal

@{
	ViewBag.Title = "Details Customer Order";

}

<style type="text/css">
	#flecha {
		cursor: auto;
	}

	dd {
		font-style: italic;
		font-size: 16px;
	}

	dt {
		font-size: 15px;
	}
</style>

<div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CustomerFinal)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CustomerFinal)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NombreCliente)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NombreCliente)
		</dd>

	</dl>
</div>
<p>

</p>
